<!DOCTYPE html>

<div class="jumbotron jumbotron-fluid" style="margin-top:0px; margin-bottom: 10; padding-bottom: 10px; padding-top: 10px;" >
<form>
	<div class="input-group">
		<input type="text" ng-model="filter" ng-model-options="{debounce:500}" class="form-control" placeholder="Filter Data">
		<div class="input-group-append">
			<button class="btn btn-secondary" type="button">
				<i class="fa fa-search"></i>
			</button>
		</div>
	</div>
</form>
</div>

<div ng-repeat="user in users | filter: filter" class="card hideCard" style="margin-bottom: 5px">
	<h5 class="card-header">{{user.name}}</h5>
	<div class="card-body">
		<p class="card-text">
			Email: {{user.email}}
			<br />
			City: {{user.city}}
		</p>
	</div>
</div>
